:root{
    --primary: #11c9d7;
    --secondary: #cb930a;
    --tertiary: #e9e9e9;
    --origin: #000;
    --nuance: #727272;
}

html {
    font-family: "Outfit";
}

body, .btn, a, label .nav-link {
    cursor: url(./Images/Trident.svg), pointer !important;
}

header{
    height: 100vh;
    z-index: 1;
}

.btn:hover {
    background-color: var(--secondary) !important;
    color: #000000 !important; 
}

header .lumineux {
    position: absolute;
    content: "";
    object-fit: contain;
    right: 0;
    top: 0;
    z-index: 2;
    height: 80%;
}

.btn {
    background-color: var(--primary);
    border-color: white;
    border-radius: 15px;
    width: 250px;
    height: 50px;
}

.navbar *{
    z-index: 3;
}

.navbar-brand{
    width: 10%;
}

.nav-div1 h1{
    color: var(--primary);
}

.div-header a {
    padding-left: 5rem;
    padding-right: 5rem;
    text-decoration: none;
    font-weight: bold;
    color: white
}

.header-div-main {
    z-index: 4;
}

.logo-main-div.col-2 {
    object-fit: contain;
    height: 250px;
}

.header-div-main .div2 h1 {
    color: var(--primary);
}

.header-div-main .div2 p {
    color: white;
    font-size: 18px;
}

.animation-header {
    height: 20rem;
}

.moving-zone {
    position: absolute;
    top:0; left: 15px;;
    perspective: 800px;
}

.popup {
    position: absolute;
    width:300px;
    box-sizing: border-box;
    border-radius: 20px 0 20px 0;
    cursor: url("./Images/Trident.svg"), auto;
    transform-style: preserve-3d;
}

.popup:before {
    content: '';
    position: absolute;
    left:5%; top:5%;
    width:90%; height:90%;
    border-radius: inherit;
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 40px 20px rgba(0,0,0,.1);
    transform: translateZ(-100px);
}

.popup-content img {
    height: 250px;
}

.popup-content {
    box-sizing: border-box;
    border-radius: 10px 0 10px 0;
}

.card-icon {
    font-size: 3rem;
}

.card {
    background-color: transparent !important;
}

.div-presentation-icons {
    text-transform: uppercase;
}

.div-presentation-icons h2 {
    padding-top: 1rem;
}

.section1-presentation h2 {
    color: var(--primary);
}

.section1-presentation p {
    color: var(--nuance);
    font-size: 18px;
}

.sous-div-projet img{
    height: 40rem;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.projet-button {
    position: absolute;
    content: "";
    object-fit: contain;
    left: 28%;
    bottom: 10%;
    width: 210px;
    z-index: 2;
}

.section3-services .item1 .nav-link,.section3-services .particuliers {
    background-color: var(--tertiary);
}

.section3-services .item2 .nav-link{
    color: #727272;
}

.section3-services .nav-item {
    width: 49.5%;
}

.section3-services .nav-tabs {
    border-bottom: none;
}

.section3-services .nav-link , .section3-services .services {
    border: var(--tertiary) 1px solid;
}

.section3-services .item1 {
    color: var(--nuance);
}

.section3-services .item2 {
    color: var(--nuance);
}

.section3-services p {
    color: var(--nuance);
    font-size: 18px;
}

.section4-contact h2{
    font-size: 50px;
    color: var(--tertiary);
}

.section4-contact form {
    background-color: var(--origin);
    border-radius: 0 0 15px 15px ;
}

.section4-contact .form-label {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.footer-title {
    color: var(--primary);
}

.footer-mentions {
    justify-content: center;
    text-decoration: none;
}

.footer-social {
    display: flex;
    justify-content: end;
}

.footer-social i {
    color: white;
    font-size: 2rem;
}